body {
  background-size: cover;
}

h1 {
  color: white;
}

.grid {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 100px;
  bottom: 100px;

}

#board {
  position: absolute;
  background-size: cover;
  z-index: 10;
}

table {
  position: relative;
  right: 150px;
}


td {
  height: 100px;
  width: 100px;
  text-align: center;

}

.wrapper {
  text-align: center;

}

.button {
  position: relative;
  font-size: 16px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: gray;
  top: 50%;
}



.square {
  font-size: 75px;
  border: 2px solid white;
}

